/*Border-box*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*Standardize font color and family*/
p , h1, h2, h3, h4, li {
    color: #333;
    font-family: Josefin Sans, sans-serif;
}
a {
    font-family: Josefin Sans, sans-serif;
}

/*Colors*/
.text-red {
    color: red;
}

.text-blue {
    color: blue;
}

.text-purple {
    color: purple;
}

/*Set full page background*/
html {
    background: url(../images/bg2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background-position: 0 60px;*/
}

/*Navbar Styles
*******************************************************************************/
#navbar {
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
}

#navbar > img {
    display: inline-block;
    margin: 5px;

    width: 50px;
    height: 50px;
}

#navigation-links {
    display: inline-block;
    float: right;
    top: 0;
    
    height: inherit;
}

#navigation-links ul {
    padding: 0;
    margin: 0;
    
    height: inherit;
    
    list-style: none;
    text-align: center;
}

#navigation-links li {
    display: inline-block;
    
    height: inherit;
    
    line-height: 60px;
}

#navigation-links a {
    display: block;
    padding: 0 20px;
    
    height: inherit;
    
    color: #333;
    text-decoration: none;
}

#navigation-links a:hover {
    background-color: #888;
    color: #FFF;
}

#navigation-links a.active {
    background-color: crimson;
    color: #FFFFFF;
}

#navigation-links li:hover {
    cursor: pointer;
}

@media (max-width:48.000em) {
    
    #navigation-links {
        display: block;
        float: none;
        
        width: 100%;        
    }
    
  	#navigation-links li {
        width: 50%;
        float: left;
    }
    
  	#navigation-links ul li:nth-of-type(odd) a {
        border-right: 1px solid #ccc;
    
    }
    
  	#navigation-links ul li a {
        padding: 8px 0px; border-bottom: 1px solid #ccc;
        display: block;
        background-color: white;
    }
}
/*END Navbar Styles
*******************************************************************************/

/*Main Content Styles
*******************************************************************************/
#main-icon {
    margin: 5px;

    width: 50px;
    height: 50px;
}

#content {
    margin: 5% 0 0 2%;
    width: 40%;
}

@media (max-width:48.000em) {
    #content {
        width: 100%;
    }
}

#content-header {
    text-align: center;

    color: #FFFFFF;
    font-size: 4em;
}

#sub-header-wrapper {
    text-align: center;
}

#sub-header {
    display: inline;
    text-align: center;

    /*border-top: solid 1px #FFFFFF;*/
    /*border-bottom: solid 1px #FFFFFF;*/

    color: #FFFFFF;
    font-size: 2em;
}

#buttons-wrapper {
    margin-left: 10%;
    width: 80%;
}

#buttons-wrapper button {
    display: inline-block;
    margin-top: 50px;

    width: 40%;
    height: 40px;

    background-color: transparent;
    color: #FFFFFF;
    border: solid 1px #FFFFFF;

    -webkit-transition: border-color 0.2s linear;
    -moz-transition: border-color 0.2s linear;
    -ms-transition: border-color 0.2s linear;
    -o-transition: border-color 0.2s linear;
    transition: border-color 0.2s linear;
}

#buttons-wrapper button:hover {
    border-color: #0c96d5;
}

#github-button {
    margin-left: 5%;
}

#linkedin-button {
    margin-left: 10%;
}

#resume-link-wrapper {
    margin-top: 40px;
    text-align: center;
}

#resume-link {
    color: #FFFFFF;
    text-decoration: none;

    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -ms-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

#resume-link:hover {
    color: #0c96d5;
}

#resume-link:visited {
}

#main-text {
    color: #FFFFFF;
}
/*END Main Content Styles
*******************************************************************************/
